@charset "UTF-8";
.pakgroud-red{
	background-color: #da0000;
	text-align: center;
	color: white;
	font-size: 22px;
	font-weight: 490;
}

.margin {
	padding-top: 5px;
	padding-bottom: 1px;
}

.degrade{
	background-image: linear-gradient(to bottom, #b10000, #fef194 120%);
	
}


.sombra{
	box-shadow: 0 0 1em black;
}

.margin2{
	padding: 100px;
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

.m_informacao{
	text-align: center;
	color: white;
}

.list-group2 {
	justify-content: flex-end;
	display: inline-block;
	padding: auto;
	flex-direction: column;
	text-align: center;
	word-break: all;
	font-size: 20px;
	color: white;
}

.degrade2{
	background-image: linear-gradient(to bottom, gray, white 120%);
	
}

